@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de Senha Perdida";
}

<h4>@ViewData["Title"]</h4>
<p>
    Por favor verifique seu e-mail para obter instruções sobre como redefinir sua senha.
</p>
