.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.header {
    background-color: #64301e;
    color: #fefdfc;
}

.navbar-nav {
    color: #fefdfc;
}
    .navbar-nav .nav-link:hover {
        color: #BB9457; /* dourado elegante ao passar o mouse */
        transition: color 0.3s ease;
    }

.footer {
    background-color: #64301e;
    color: var(--bs-light);
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}
